*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    cursor: url('./imagens/cursor.png'), auto;  
}



body{
    background-color: #020202;
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
}

  
::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor do "polegar" da barra de rolagem */
    border-radius: 10px; /* Borda arredondada */
}

.background img{
    width: 100%;
    opacity: 50%;
}

.background{
    width: auto;
}

.yoshi{
    position: relative;
    
}

.Title-global-header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 14vh;
}

.Title-global-header img{
    width: 30rem;
}

.global-main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 10rem;
}

.msg{
    width: 30rem;
    color: white;
    font-size: 3.2rem;
    text-align: start;
}

.container-arquivos{
    display: flex;
    width: 65%;
    justify-content: center;
    align-items: center;
}

.pixelart img{
    width: 13rem;
}

.arquivos-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #062957;
    color: white;
    font-size: 2rem;
    /* width: 85%; */
}



.title-arquivo{
    font-size: 2.5rem;
}

.about_arquivo{
    padding: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.button-dowload{
    padding: 5rem;
}

.button-dowload img{
    cursor: pointer;
    width: 8rem;
}

.button-dowload img:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.carousel{
    padding: 2rem;
}

@media (max-width: 1055px) {
    .Title-global-header img{
        width: 40%;
        top: 5vh;
        position: relative;
    }
    
    .msg{
        font-size: 2.8rem;
        text-align: center;
        width: 60%;
        /*! gap: 23rem; */
        display: flex;
    }
    
    .global-main{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    
    .pixelart img{
        width: 10rem;
    }
    
    .title-arquivo{
        font-size: 3rem;
    }
    
    .explicacao{
        font-size: 2rem;
    }
    
    .container-arquivos{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
